.ctextarea textarea::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #999;
    font-style: italic;
}

.ctextarea textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999;
    font-style: italic;
}

.ctextarea textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999;
    font-style: italic;
}

.ctextarea textarea:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #999;
    font-style: italic;
}

.ctextarea textarea::placeholder {
    /* Modern browsers */
    color: #999;
    font-style: italic;
}

.ctextarea .word-limit {
    margin-top: 4px;
    font-size: 12px;
    color: #999;
}

.ctextarea .character-count {
    margin-top: 4px;
    font-size: 12px;
}