.switch.small {
    width: 46px;
    height: 20px;
    position: relative;
    border: 1px solid #dfdfdf;
    background-color: #dcdfe6;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 20px;
    background-clip: content-box;
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    user-select: none;
    outline: none;
}

.switch.medium {
    width: 57px;
    height: 28px;
    position: relative;
    border: 1px solid #dfdfdf;
    background-color: #dcdfe6;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 20px;
    background-clip: content-box;
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    user-select: none;
    outline: none;
}

.switch.large {
    width: 67px;
    height: 36px;
    position: relative;
    border: 1px solid #dfdfdf;
    background-color: #dcdfe6;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 20px;
    background-clip: content-box;
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    user-select: none;
    outline: none;
}

.switch.small::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    border-radius: 50%;
    left: 2px;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: 0.3s;
}

.switch.medium::before {
    content: '';
    position: absolute;
    width: 23px;
    height: 23px;
    background-color: #ffffff;
    border-radius: 50%;
    left: 2px;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: 0.3s;
}

.switch.large::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 50%;
    left: 2px;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: 0.3s;
}

.switch:checked {
    background-color: #409eff;
    transition: 0.6s;
}

.switch:checked::before {
    left: 30px;
    transition: 0.3s;
}